html {

background: linear-gradient(to bottom, purple, pink);
min-height: 100%;
}

body {


}
.container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.flex-item-1 {

flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;

}

.flex-item-2 {

margin: auto;


}

.flex-item-3 {



}

h2 {

font-family: Architects Daughter, sans-serif;
font-size: 5em;
color: #15074f;


}

h3 {
  font-family: Architects Daughter, sans-serif;
  font-size: 3em;
  color: #15074f;


}

p {
font-family: Quicksand, serif;
color: #4f0959;
font-size: 1.5em;
padding: 1em;
}

ul li {

list-style: none;

}

ul a {

font-family: Architects Daughter, sans-serif;
font-size: 2em;
text-decoration: none;

}

ul a:hover {
  text-decoration: line-through;
}

img {

height: 20%;
width: 20%;

}
