html {

background: linear-gradient(to bottom, purple, pink);
min-height: 100%;
background-size: cover;
}

body {


}
.container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.flex-item-1 {

flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;

}

.flex-item-2 {

margin: auto;
padding-top:20px;


}

.flex-item-3 {



}

h2 {

font-family: Architects Daughter, sans-serif;
font-size: 5em;
color: #15074f;


}

h3 {
  font-family: Architects Daughter, sans-serif;
  font-size: 3em;
  color: #15074f;


}

p {
font-family: Quicksand, serif;
color: #4f0959;
font-size: 1.5em;
padding: 1em;

}

ul li {

list-style: none;

}

ul a {

font-family: Architects Daughter, sans-serif;
font-size: 2em;
text-decoration: none;

}

ul a:hover {
  text-decoration: line-through;
}

img {

height: 45%;
width: 75%;

}


.grid {

  box-sizing: border-box;
  font-size: 10px;
}

/*
.imgholder {

  width: 100%;
}

.imgholder img {

  width: 100%;
  overflow: hidden;
}

.imgholder {

  overflow: hidden;
}
*/

[class*='box-'] {

  float: left;
  width: 29%;
  height: 50em;
  padding: 1em;
  background-color: rgba(0,0,0,0.3);
  margin: 10px;

}

/*2 column layout, reduced header size*/

@media (max-width:1000px) {
html  [class*='box-'] {

    float: left;
    width: 44%;
    height: 40em;
    padding: 1em;
    background-color: rgba(0,0,0,0.3);
    margin: 10px;

  }

  h2 {

font-size: 3em;

  }

  .flex-item-1 a {

    font-size: 1.5em;

  }
}

/*1 column layout, small nav*/

@media (max-width:600px) {

  html [class*='box-'] {
  float: left;
  width: 95%;
  height: 40em;
  padding: 1em;
  background-color: rgba(0,0,0,0.3);
  margin:10px 30px 10px 10px;

}

h2 {

  font-size: 2em;
}

.flex-item-1  a {

  font-size: 1em;
}

img {

  height: 200px;
  width: 250px;


}

}

/*very small screen - only show description and link to work, remove image */

@media (max-width:320px) {

  img {
    display:none;
  }
}


/* unnecessary repetitive code

.box-2 {

  float: left;
  width: 29%;
  height: 50em;
  padding: 1em;
  background-color: rgba(0,0,0,0.3);
  margin: 10px;
}

.box-3 {

  float: left;
  width: 29%;
  height: 50em;
 padding: 1em;
 background-color: rgba(0,0,0,0.3);
 margin: 10px;
}

.box-4 {

  float: left;
  width: 29%;
  height: 50em;
 padding: 1em;
 background-color: rgba(0,0,0,0.3);
 margin: 10px;
}

.box-5 {

  float: left;
  width: 29%;
  height: 50em;
 padding: 1em;
 background-color: rgba(0,0,0,0.3);
 margin: 10px;
}

.box-6 {

  float: left;
  width: 29%;
  height: 50em;
 padding: 1em;
 background-color: rgba(0,0,0,0.3);
 margin: 10px;
}
